.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ip-wrapper {
  background-color: white;
  margin: 0;
  padding: 0;
}

.ip-input {
  border: none;
  font-size: 20px;
  width: 33px;
  background: none;
  outline: none;
  background: linear-gradient(#000, #000) center bottom 5px / calc(100% - 10px)
    2px no-repeat;
  /* text-decoration: underline; */
  margin: 0;
}

.clear-btn {
  background-color: rgb(180, 4, 4);
  background-color: rgb(180, 4, 4);
  color: #ffff;
  margin-left: 10px;
  outline: none;
  font-size: 16px;
  width: 58px;
  height: 37px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: rgb(139, 2, 2);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
